.box{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.box.active{
    background-color:aqua;
}

li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin:5px;
    background-color: azure;
}
li.active{
    background-color:chocolate;
}